<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rent.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @rent.price %>
</p>

<p>
  <strong>Address:</strong>
  <%= @rent.address %>
</p>

<p>
  <strong>Age:</strong>
  <%= @rent.age %>
</p>

<p>
  <strong>Other:</strong>
  <%= @rent.other %>
</p>

<hr>

<% @rent.stations.each.with_index do |s, index| %>
  <h3>最寄り駅<%= index += 1 %></h3>
  <p>
    <strong>line:</strong>
    <%= s.line %>
  </p>

  <p>
    <strong>name:</strong>
    <%= s.name %>
  </p>

  <p>
    <strong>time:</strong>
    <%= s.time %>
  </p>
<% end %>

<%= link_to 'Edit', edit_rent_path(@rent) %> |
<%= link_to 'Back', rents_path %>
